@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,700i,800,800i&display=swap');

/*
R: #ff5c72
G: #00fbc7
Light G: #99fde9;
B: #00b8e4
K: #000000
*/

body, html{
	margin: 0;
	border: 0;
	font-family: 'Nunito Sans', sans-serif;
}

.nsp-bg{
	background-color: #00141a;
}

img.plain{
	background: none !important;
}

header{
	position: relative;
	top: 0;
	z-index: 99999;
	width: 100%;
	height: 10vh;
	background-color: #99fde9;
	color: #081a21;
	font-size: calc(10px + 1vh);
	text-align: center;
	display: table;
	overflow: hidden;
}

header:hover{
	cursor: pointer;
}

body.no-header header{
	display: none;
}

header .container{
	width: 100%;
	height: 100%;
	padding: 10px;
	display: table-cell;
	vertical-align: middle;
	font-weight: bold;
}

iframe#presentation{
	width: 100%;
	height: 90vh;
	border: 0px;
	line-height: 0px;
	display: block;
}

body.no-header iframe#presentation{
	height: 100vh;
}


#logo{
	width: 80%;
    max-width: 600px;
    margin-bottom: 8vh;
}

a{
	color: #00b8e4 !important;
}

#tagline{
	font-weight: 800;
	font-style: italic;
}

#swipe-prompt{
	margin-top: 10vh;
	color: rgba(256, 256, 256, .7);
}

section{
	font-family: 'Nunito Sans', sans-serif;
}

.photo-caption-wrapper{
	height: 100vh;
	width: 100vw;
	display: table;
}

.photo-caption{
	color: white;
	text-shadow: 0px 0px 5px #000000;
	font-size: .5em !important;
	display: table-cell;
	vertical-align: bottom !important;
}

.bg-image section{
	padding: 20px !important;
	background-color: rgba(0,0,0, .4);
}

.bg-image *{
	text-shadow: 4px 2px 2px rgba(0,0,0, .3) !important;
}

p.caption{
	font-size: .7em !important;
}

.jordan-pic .slide-background{
	background-position-x: 90% !important;
}

.ziwe-pic .slide-background{
	background-position-x: 75% !important;
}

.max-pic .slide-background{
	background-position-x: 60% !important;
}

.natasha-pic .slide-background{
	background-position-x: 80% !important;
}

.curtis-pic .slide-background{
	background-position-x: 80% !important;
}


.fade-text, #logo g{
	opacity: 0;
	animation: fade-in 1s forwards ease-in-out;
}

#box-mid{
	animation-delay: .3s !important;
}

#box-back{
	animation-delay: .7s !important;
}

.fade-text{
	animation-delay: 1.2s;
}

@keyframes fade-in {
  from {opacity: 0}
  to {opacity: 1;}
}

@media (min-width: 600px) {
	header{
		font-size: calc(10px + 1vw);
	}

	.mobile-only{
		display: none;
	}

	#logo{
		max-width: 400px;
	}
}

